<!DOCTYPE html>
<html>
  <head>
    <title>Edit Account Settings</title>
  </head>
  <body>

    <h1>Edit Settings</h1>

    <%= render 'form' %>

    <%= link_to 'Cancel', user_path %>

  </body>
</html>
