<div class="home_image_block">
  <form class="search_bar"><input type="text" placeholder="What would you like to eat?" required>
  <button type="Submit" class="search_button">Search</button>
  </form>
</div>
