<h1 class="restaurant_header">Restaurants</h1>

<div class="restaurants_list">
  <% @restaurants.each do |restaurant| %>
    <h3><%= link_to "#{restaurant.name}", "/restaurants/#{restaurant.id}" %></h3>
      <p><%= restaurant.food_type %></p>
      <p><%= restaurant.location %></p>
      <p><%= restaurant.phone %></p>
  <% end %>
</div>
