/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    font-family: 'Lato', sans-serif;
  }

  header {
    background-color: #323232;

  }

  header h1 {
    color: navy;
    margin: 0px;
    padding: 30px;
  }

  .logo_style {
    padding: 10px;
    display: inline-block;
    width: 130px;
    margin-left: 50px;
  }

  img.logo {
    height: 110px;
    width: 110px;
    margin: 50px,

  }

  div.white_bar {
    background-color: white;
    width: 100%;
    height: 10px;
    border-bottom: 1px black solid;
  }

  a.nav_item,
  .btn a {
    border-radius: 5px;
    color: #a9b2b9;
    cursor: pointer;
    display: inline-block;
    font-weight: 400px;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
    float: right;
    margin: 10px;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 0px;
    text-decoration: none;

  }

  a.nav_item,
  .btn-alt a {
    border: 1px solid #fff;
    padding: 10px 30px;
  }

  a.nav_item:hover,
  .btn-alt:hover a {
    background: #fff;
    color: #648880;
  }

  a.nav_item {
    margin-right: 40%;
  }

  body {
    background-image: url(1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: fixed;*/
    height: 30em;
    width: 100%;
    z-index: -2;
    margin: 0px;
    background-color: #323232;
    line-height: 1;
    background-attachment: fixed;

  }

  footer div.open_space {
    background-color: #323232;
    height: 50px;
    width: 100%;
    bottom: 0;
    position: fixed;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  #error_explanation {
    padding-left: 40px;
  }
  .error_msg {
    padding-left: 40px;
  }
