// Place all the styles related to the restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2.header {
  margin-bottom: 10px;
  padding-left: 40px;
  color: white;
  text-shadow: 2px 2px #94180A;
}

h1.restaurant_name {
  margin-bottom: 10px;
  padding-left: 40px;
  color: white;
  text-shadow: 2px 2px #94180A;
  font-size: 2em;
}

.restaurants_list h3 a{
  color: #94180A;
  font-size: 22px;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
}

div.restaurants_list {
  padding-left: 40px;
  color: white;
  text-shadow: 1px 1px #333;
  line-height: .5em;
  font-size: 18px;
  height: 75%;
  overflow: scroll;
}

.review {
  color: #94180A;
  font-size: 20px;
  line-height: .5em;
  padding-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

a:visited {
  color: #94180A;
}

div.reservation_form {
  padding-left: 40px;
}

div.reservation_form p {
  color: white;
  font-size: 20px;
}

.restaurant_review_list {
 float: left;
 display: inline-block;
 width: 500px;
 height: 45%;
 border-radius: 5px;
 background-color: white;
 opacity: 0.8;
 margin: 20px;
 overflow: scroll;
 font-size: 16px;
 line-height: 1.5;
 margin-left: 40px;
}

div.restaurant_review p {
  text-align: left;
  color: white;
  font-size: 20px;
  padding-left: 40px;
}

div.review_form {
  padding-left: 40px;
}

div.review_form p {
  text-align: left;
  color: white;
  font-size: 20px;
}
