// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#transparent_box {
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.6;
  z-index: -1;
  position: fixed;
}

.user_profile h1 {
  text-align: center;
  padding-bottom: 25px;
}

img.profile_pic {
  max-width: 200px;
  max-height: 200px;
  border-radius: 5px;
  float: left;
  margin-left: 35%;
  padding-right: 20px;
}

div.user_info {
  clear: right;
  padding-left: 50px;
}

div.active_reservations {
  clear: both;
  display: block;
  text-align: center;
  padding-top: 25px;
}

div.reservations_table {
  display: inline-block;
  width: 40%;
  border: 5px solid navy;
  background-color: white;
  border-radius: 5px;
}

div.user_reviews {
  display: block;
  text-align: center;
}

div.user_reviews h3 {
  text-align: center;
}

div.user_reviews_display {
  display: inline-block;
  width: 80%;
  border: 5px solid navy;
  background-color: white;
  border-radius: 5px;

}

h1.signup_form {
  margin-bottom: 10px;
  padding-left: 40px;
  color: white;
  text-shadow: 2px 2px #94180A;
}

form#new_user.new_user {
  padding-left: 40px;
  color: white;
}

.field {
  font-style: 400px;
  border-radius: 5px;
  color: #a9b2b9;
  line-height: 1;
  margin-top: 10px;
}
.actions {
 margin-top: 20px;
 border-radius: 5px;
 color: #a9b2b9;
 cursor: pointer;
 display: inline-block;
 font-weight: 400px;
 letter-spacing: .5px;
 margin: 0;
 text-transform: uppercase;
}
.cancel {
 margin-top: 20px;
 padding-top: 20px;
 padding-left: 40px;
}

input {
  height: 30px;
  width: 30%;
}

div.actions input {
  height: 2em;
  border-radius: 5px;
  font-size: 16px;
  width: 60px;
  margin-top: 10px;
}
