// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#transparent_box {
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.4;
  z-index: -1;
  position: absolute;
}

h1.user_welcome {
  text-align: center;
  color: white;
  text-shadow: 2px 2px #94180A;
  font-size: 3em;
  margin-bottom: 20px;
}

div.user_profile {
  float: left;
  display: inline-block;
  width: 30%;
  height: 45%;
  border-radius: 5px;
  background-color: white;
  opacity: 0.8;
  margin: 20px;
  overflow: scroll;
}

div.active_reservations {
  float: left;
  display: inline-block;
  width: 30%;
  height: 45%;
  border-radius: 5px;
  background-color: white;
  opacity: 0.8;
  margin: 20px;
  overflow: scroll;
}

div.active_reservations h2,
div.user_reviews h2 {
  text-align: center;

}

div.user_reviews {
  float: left;
  display: inline-block;
  width: 30%;
  height: 45%;
  border-radius: 5px;
  background-color: white;
  opacity: 0.8;
  margin: 20px;
  overflow: scroll;
}

div.user_info,
div.reservations_table,
div.user_reviews_display {
  padding: 5px;
  padding-left: 15px;
  display: block;
}

div.user_info p {
  margin-top: 2px;
  margin-bottom: 15px;
}

div.display {
  font-size: 25px;
  color: #7476A1;
  display: inline-block;
  line-height: .08;
}

p.edit_link a {
  float: right;
  text-decoration: none;
  padding-right: 15px;
  color: #94180A;
  font-size: 12px;
}

p.review_content {
  color: #94180A;
  font-size: 20px;
  margin-top: 5px;
}



/*--------------------------------
------ New User Sign Up ---------
---------------------------------*/

h1.signup_form {
  margin-bottom: 10px;
  padding-left: 40px;
  color: white;
  text-shadow: 2px 2px #94180A;
}

form#new_user.new_user {
  padding-left: 40px;
  color: white;
}

.field {
  font-style: 400px;
  border-radius: 5px;
  color: #a9b2b9;
  line-height: 1;
  margin-top: 10px;
}
.actions {
 margin-top: 20px;
 border-radius: 5px;
 color: #a9b2b9;
 cursor: pointer;
 display: inline-block;
 font-weight: 400px;
 letter-spacing: .5px;
 margin: 0;
 text-transform: uppercase;
}
.cancel {
 margin-top: 20px;
 padding-top: 20px;
 padding-left: 40px;
}

input {
  height: 30px;
  width: 30%;
}

div.actions input {
  height: 2em;
  border-radius: 5px;
  font-size: 16px;
  width: 60px;
  margin-top: 10px;
}
